/* @author Bilal Cinarli */

/** -------------------------------------------
    Page
    ------------------------------------------- **/
.page-wrap {
    position: relative;
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: $base-double-gutter;
}