<fieldset>
    <legend>Next Call</legend>

    <ol class="form-elements group">
        <li class="five-columns">
            <label class="item item-stacked one-whole">
                <input type="text" class="one-whole" readonly value="{{name}}" />
            </label>
        </li>

        <li class="five-columns">
            <label class="item item-stacked one-whole">
                <input type="tel" class="one-whole" readonly value="{{phone}}" />
            </label>
        </li>

        <li class="two-columns">
            <label class="item item-stacked one-whole">
                <input type="text" class="one-whole" readonly value="{{time}}" />
            </label>
        </li>
    </ol>
</fieldset>